# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Admin content database
astera-content.db
astera-content.db-shm
astera-content.db-wal

# Uploaded images
/public/uploads/*
!/public/uploads/.gitkeep
!/public/uploads/astera-upload-1777542736772-d2souok25x7.png
!/public/uploads/astera-upload-1777542744600-mjff29y2d1k.png
!/public/uploads/astera-upload-1777543712527-v1mmzjakq5.png
!/public/uploads/astera-upload-1777543812845-9puk6rdon7f.png
